
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    background-image: url("fabric.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    
  }



.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #385a75;;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #385a75;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Merriweather', serif;

}

.upload-label:hover{
    background: rgb(139, 175, 206);
    color: #070707;
}

.loader {
    border: 8px solid #dbe8f3;; /* Light grey */
    border-top: 8px solid #385a75; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar{
    background-color: #385a75;
}
.container{
    margin: auto;
    width: 53%;
}

.container p{
    color: #f3f3f3;
    font-size: 36px;
    font-family: 'Merriweather', serif;
    
}

.right {
    margin-left: auto; 
    margin-right: 16px;
    margin-top: 12px ;
    
}

.right p{
    color: #fff;
    line-height: 80%;
    font-family: 'Merriweather', serif;
    font-size: 90%;
    
}


/* text */

.text p{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color: #1c3142;

}

#content{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color: #1c3142;
}